<div class="details__container">
    <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="foto {{original_title}}">
    <div class="details__content-container">
        <h2>{{original_title}}({{release_date}})</h2>
        <ul>
            <li>vote/votes <span>{{vote_average}}/{{vote_count}}</span></li>
            <li>popularity <span>{{popularity}}</span></li>
            <li>original_title <span>{{original_title}}</span></li>
            <li>genre <span>{{genres[0].name}}</span></li>
        </ul>

        <h2></h2>
    </div>
</div>