<form class="form-search">
    <i class="material-icons form-search__icon">search</i>
    <input type="search" name="query" autocomplete="off" class="form-search__input"
        placeholder="Write movie name and click Enter">
    <p class="requirements form-search__requirements is-hidden">No movies were found. Check your
        query!</p>
    <!-- <input type="submit" value="&#128269;"> -->
</form>
<ul class="home-page-list">
    {{#each this}}
    <li class="home-page-list_item" data-itemId="{{id}}">
        <div class="item-overlov">
        </div>
        {{!-- < span class ="home-page-list_item-rateblock" data-itemRate="item-rate">{{ popularity }}</span> --}}
        <h2 class="home-page-list_item-title">{{ original_title }} ({{ release_date }})</h2>
        <img src="{{backdrop_path}}" alt="{{original_title}}" class="home-page-list_item-image">

    </li>
    {{/each}}
</ul>

<div class="pagination">
    <button type="button" class="button pagination__btn button-prev" id="btn_prev">Prev</button>
    <span class="page button" id="page">{{page}}</span>
    <button type="button" class="button pagination__btn button-next" id="btn_next">Next</button>
</div>