{{#each this}}
<li class="home-page-list_item" data-itemId="{{id}}">
    <div class="item-overlov">
    </div>
    <h2 class="home-page-list_item-title">{{ original_title }} ({{ release_date }})</h2>
    <img src="{{backdrop_path}}" alt="{{original_title}}" class="home-page-list_item-image">
    <p class="home-page-list_item-rateblock"> {{vote_average}} </p>
</li>
{{/each}}